```
perfoming test1 ...
  1 TOTEN   -26.03963  Lg|dE|  1.4  SCF  32  Max|F|  0.005  Avg|F|  0.003  AtomInd   0Tey  Time 49.42
perfoming test2 ...
  1 TOTEN  -253.61859  Lg|dE|  2.4  SCF  14  Max|F|  0.000  Avg|F|  0.000  AtomInd   0 Cx  Time  1.83
  2 TOTEN  -253.61023  Lg|dE| -2.1  SCF   8  Max|F|  0.192  Avg|F|  0.192  AtomInd   0 Cx  Time  1.02
  3 TOTEN  -253.61629  Lg|dE| -2.2  SCF   7  Max|F|  0.501  Avg|F|  0.501  AtomInd   0 Cx  Time  0.93
  4 TOTEN  -253.58960  Lg|dE| -1.6  SCF   8  Max|F|  0.649  Avg|F|  0.649  AtomInd   0 Cx  Time  1.04
  5 TOTEN  -253.64364  Lg|dE| -1.3  SCF   7  Max|F|  0.001  Avg|F|  0.001  AtomInd   0 Cx  Time  0.93
perfoming test3 ...
  1 TOTEN  -367.31158  Lg|dE|  2.6  SCF  29  Max|F|  0.198  Avg|F|  0.081  AtomInd  33Cux  Time 105.08
perfoming test4 ...
  1 TOTEN -1239.48865  Lg|dE|  3.1  SCF  31  Max|F|  4.453  Avg|F|  1.732  AtomInd  96 Cy  Time 148.49
  2 TOTEN -1184.56073  Lg|dE|  1.7  SCF  23  Max|F| 15.668  Avg|F|  5.959  AtomInd  96 Cz  Time 107.31
  3 TOTEN -1244.26244  Lg|dE|  1.8  SCF  23  Max|F|  0.278  Avg|F|  0.132  AtomInd  61 Cx  Time 105.68
  4 TOTEN -1239.22866  Lg|dE|  0.7  SCF  21  Max|F|  3.304  Avg|F|  1.365  AtomInd  62 Cx  Time 96.94
  5 TOTEN -1240.64039  Lg|dE|  0.1  SCF  20  Max|F|  4.338  Avg|F|  1.679  AtomInd  53 Cx  Time 93.38
  6 TOTEN -1233.75231  Lg|dE|  0.8  SCF  21  Max|F|  2.416  Avg|F|  1.080  AtomInd 135 Cy  Time 101.16
  7 TOTEN -1236.93351  Lg|dE|  0.5  SCF  21  Max|F|  5.287  Avg|F|  2.194  AtomInd  62 Cx  Time 97.99
  8 TOTEN -1190.21198  Lg|dE|  1.7  SCF  22  Max|F| 15.542  Avg|F|  5.819  AtomInd  62 Cy  Time 102.89
  9 TOTEN -1232.67926  Lg|dE|  1.6  SCF  24  Max|F|  1.276  Avg|F|  0.621  AtomInd  93 Cy  Time 113.88
 10 TOTEN -1197.67946  Lg|dE|  1.5  SCF  25  Max|F| 12.022  Avg|F|  5.264  AtomInd  41 Cz  Time 117.25
 11 TOTEN -1193.79063  Lg|dE|  0.6  SCF  22  Max|F| 15.210  Avg|F|  5.477  AtomInd  62 Cy  Time 106.09
 12 TOTEN -1245.60742  Lg|dE|  1.7  SCF  23  Max|F|  2.088  Avg|F|  0.598  AtomInd  60 Cx  Time 108.22
 13 TOTEN -1243.36452  Lg|dE|  0.4  SCF  19  Max|F|  5.750  Avg|F|  1.340  AtomInd  60 Cz  Time 87.47
 14 TOTEN -1246.44501  Lg|dE|  0.5  SCF  19  Max|F|  0.716  Avg|F|  0.226  AtomInd  61 Cx  Time 85.35
 15 TOTEN -1245.52508  Lg|dE| -0.0  SCF  18  Max|F|  4.221  Avg|F|  0.737  AtomInd  61 Cy  Time 82.23
 16 TOTEN -1246.49492  Lg|dE| -0.0  SCF  17  Max|F|  1.046  Avg|F|  0.176  AtomInd  61 Cx  Time 79.44
 17 TOTEN -1246.27880  Lg|dE| -0.7  SCF  16  Max|F|  1.638  Avg|F|  0.318  AtomInd  60 Cx  Time 75.82
 18 TOTEN -1246.55261  Lg|dE| -0.6  SCF  17  Max|F|  0.575  Avg|F|  0.116  AtomInd  60 Cz  Time 76.21
 19 TOTEN -1246.43857  Lg|dE| -0.9  SCF  16  Max|F|  1.462  Avg|F|  0.287  AtomInd  63 Cz  Time 73.78
 20 TOTEN -1246.56921  Lg|dE| -0.9  SCF  15  Max|F|  0.351  Avg|F|  0.093  AtomInd  61 Cy  Time 69.30
 21 TOTEN -1246.48743  Lg|dE| -1.1  SCF  15  Max|F|  1.048  Avg|F|  0.249  AtomInd  61 Cx  Time 71.87
 22 TOTEN -1246.58188  Lg|dE| -1.0  SCF  14  Max|F|  0.234  Avg|F|  0.054  AtomInd  64 Cy  Time 64.86
 23 TOTEN -1246.58424  Lg|dE| -2.6  SCF  13  Max|F|  0.214  Avg|F|  0.055  AtomInd  63 Cz  Time 60.33
 24 TOTEN -1246.56290  Lg|dE| -1.7  SCF  14  Max|F|  0.740  Avg|F|  0.137  AtomInd  63 Cx  Time 65.75
 25 TOTEN -1246.59206  Lg|dE| -1.5  SCF  13  Max|F|  0.128  Avg|F|  0.016  AtomInd 144Naz  Time 59.42
 26 TOTEN -1246.59268  Lg|dE| -3.2  SCF  14  Max|F|  0.180  Avg|F|  0.046  AtomInd  48 Cy  Time 65.71
 27 TOTEN -1246.59631  Lg|dE| -2.4  SCF  12  Max|F|  0.111  Avg|F|  0.010  AtomInd 144Naz  Time 55.14
 28 TOTEN -1246.59856  Lg|dE| -2.6  SCF  14  Max|F|  0.098  Avg|F|  0.022  AtomInd 144Naz  Time 66.25
 29 TOTEN -1246.59977  Lg|dE| -2.9  SCF  12  Max|F|  0.095  Avg|F|  0.009  AtomInd 144Naz  Time 55.20
 30 TOTEN -1246.60193  Lg|dE| -2.7  SCF  14  Max|F|  0.085  Avg|F|  0.013  AtomInd 144Naz  Time 65.51
 31 TOTEN -1246.60286  Lg|dE| -3.0  SCF  13  Max|F|  0.080  Avg|F|  0.010  AtomInd 144Naz  Time 60.04
 32 TOTEN -1246.60811  Lg|dE| -2.3  SCF  14  Max|F|  0.094  Avg|F|  0.026  AtomInd  60 Cx  Time 68.45
 33 TOTEN -1246.60600  Lg|dE| -2.7  SCF  17  Max|F|  0.078  Avg|F|  0.024  AtomInd  85 Cx  Time 75.46
 34 TOTEN -1246.60702  Lg|dE| -3.0  SCF  14  Max|F|  0.139  Avg|F|  0.038  AtomInd  48 Cy  Time 65.67
 35 TOTEN -1246.60936  Lg|dE| -2.6  SCF  12  Max|F|  0.043  Avg|F|  0.006  AtomInd 144Naz  Time 54.63
 36 TOTEN -1246.61047  Lg|dE| -3.0  SCF  13  Max|F|  0.051  Avg|F|  0.015  AtomInd  99 Cz  Time 61.66
 37 TOTEN -1246.61120  Lg|dE| -3.1  SCF  12  Max|F|  0.032  Avg|F|  0.010  AtomInd  49 Cx  Time 54.90
 38 TOTEN -1246.61097  Lg|dE| -3.6  SCF   6  Max|F|  0.051  Avg|F|  0.013  AtomInd  64 Cy  Time 33.50
 39 TOTEN -1246.61400  Lg|dE| -2.5  SCF  14  Max|F|  0.044  Avg|F|  0.018  AtomInd  51 Cx  Time 67.75
 40 TOTEN -1246.61213  Lg|dE| -2.7  SCF  12  Max|F|  0.104  Avg|F|  0.035  AtomInd  49 Cx  Time 56.02
 41 TOTEN -1246.61321  Lg|dE| -3.0  SCF  14  Max|F|  0.129  Avg|F|  0.035  AtomInd  64 Cy  Time 66.59
 42 TOTEN -1246.60792  Lg|dE| -2.3  SCF   6  Max|F|  0.221  Avg|F|  0.073  AtomInd  51 Cx  Time 35.42
 43 TOTEN -1246.61477  Lg|dE| -2.2  SCF   6  Max|F|  0.037  Avg|F|  0.013  AtomInd  99 Cx  Time 35.03
 44 TOTEN -1246.61443  Lg|dE| -3.5  SCF  13  Max|F|  0.109  Avg|F|  0.026  AtomInd  60 Cy  Time 59.78
 45 TOTEN -1246.61552  Lg|dE| -3.0  SCF   6  Max|F|  0.018  Avg|F|  0.006  AtomInd  48 Cz  Time 34.27
 46 TOTEN -1246.61577  Lg|dE| -3.6  SCF  13  Max|F|  0.052  Avg|F|  0.015  AtomInd  48 Cx  Time 59.26
 47 TOTEN -1246.61610  Lg|dE| -3.5  SCF   6  Max|F|  0.012  Avg|F|  0.005  AtomInd  85 Cx  Time 33.14
 48 TOTEN -1246.61634  Lg|dE| -3.6  SCF  12  Max|F|  0.012  Avg|F|  0.005  AtomInd 135 Cz  Time 53.53
 49 TOTEN -1246.61662  Lg|dE| -3.5  SCF  12  Max|F|  0.014  Avg|F|  0.005  AtomInd  50 Cz  Time 54.49
 50 TOTEN -1246.61686  Lg|dE| -3.6  SCF  11  Max|F|  0.021  Avg|F|  0.006  AtomInd  64 Cx  Time 51.27
 51 TOTEN -1246.61701  Lg|dE| -3.8  SCF   6  Max|F|  0.014  Avg|F|  0.004  AtomInd  60 Cx  Time 33.71
 52 TOTEN -1246.61728  Lg|dE| -3.6  SCF  12  Max|F|  0.009  Avg|F|  0.003  AtomInd  85 Cx  Time 52.88
perfoming test5 ...
  1 TOTEN  -388.26663  Lg|dE|  2.6  SCF  38  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 79.27
  2 TOTEN  -388.69306  Lg|dE| -0.4  SCF  15  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 28.92
  3 TOTEN  -389.56598  Lg|dE| -0.1  SCF  19  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 35.92
  4 TOTEN  -389.38735  Lg|dE| -0.7  SCF  23  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 43.89
  5 TOTEN  -389.81475  Lg|dE| -0.4  SCF  26  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 46.45
  6 TOTEN  -390.20898  Lg|dE| -0.4  SCF  20  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 38.04
  7 TOTEN  -390.66531  Lg|dE| -0.3  SCF  22  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 43.88
  8 TOTEN  -391.01115  Lg|dE| -0.5  SCF  21  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 40.32
  9 TOTEN  -391.17441  Lg|dE| -0.8  SCF  21  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 41.00
 10 TOTEN  -391.36546  Lg|dE| -0.7  SCF  20  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 37.29
 11 TOTEN  -391.45739  Lg|dE| -1.0  SCF  21  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 39.09
 12 TOTEN  -391.58603  Lg|dE| -0.9  SCF  18  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 35.40
 13 TOTEN  -391.58635  Lg|dE| -3.5  SCF   5  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 13.03
 14 TOTEN  -391.65202  Lg|dE| -1.2  SCF  17  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 32.54
 15 TOTEN  -391.66086  Lg|dE| -2.1  SCF  17  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 31.71
 16 TOTEN  -391.70243  Lg|dE| -1.4  SCF  20  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 35.70
 17 TOTEN  -391.70522  Lg|dE| -2.6  SCF  13  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 25.89
 18 TOTEN  -391.73437  Lg|dE| -1.5  SCF  16  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 31.72
 19 TOTEN  -391.74270  Lg|dE| -2.1  SCF  16  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 31.49
 20 TOTEN  -391.76024  Lg|dE| -1.8  SCF  17  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 32.74
 21 TOTEN  -391.76037  Lg|dE| -3.9  SCF  13  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 22.80
 22 TOTEN  -391.77031  Lg|dE| -2.0  SCF  13  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 26.58
 23 TOTEN  -391.77072  Lg|dE| -3.4  SCF   6  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 15.36
 24 TOTEN  -391.77597  Lg|dE| -2.3  SCF   8  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 19.91
 25 TOTEN  -391.77837  Lg|dE| -2.6  SCF  16  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 29.64
 26 TOTEN  -391.78079  Lg|dE| -2.6  SCF  17  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 31.08
 27 TOTEN  -391.78074  Lg|dE| -4.4  SCF   7  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 15.17
 28 TOTEN  -391.78357  Lg|dE| -2.5  SCF  17  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 31.15
 29 TOTEN  -391.78366  Lg|dE| -4.1  SCF   6  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 14.83
 30 TOTEN  -391.78597  Lg|dE| -2.6  SCF  16  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 30.13
 31 TOTEN  -391.78610  Lg|dE| -3.9  SCF  15  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 25.83
 32 TOTEN  -391.78662  Lg|dE| -3.3  SCF   8  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 19.51
 33 TOTEN  -391.78710  Lg|dE| -3.3  SCF   9  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 19.49
 34 TOTEN  -391.78715  Lg|dE| -4.3  SCF   8  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 17.79
 35 TOTEN  -391.78799  Lg|dE| -3.1  SCF   9  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 20.56
 36 TOTEN  -391.78803  Lg|dE| -4.4  SCF   5  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 12.61
 37 TOTEN  -391.78865  Lg|dE| -3.2  SCF   9  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 20.57
 38 TOTEN  -391.78867  Lg|dE| -4.7  SCF   4  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 10.46
 39 TOTEN  -391.78873  Lg|dE| -4.2  SCF   8  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 18.63
 40 TOTEN  -391.78884  Lg|dE| -3.9  SCF   4  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 10.09
 41 TOTEN  -391.78935  Lg|dE| -3.3  SCF  15  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 26.77
 42 TOTEN  -391.78935  Lg|dE| -6.0  SCF   2  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time  6.95
 43 TOTEN  -391.78948  Lg|dE| -3.9  SCF   6  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 14.80
 44 TOTEN  -391.78950  Lg|dE| -4.7  SCF   5  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 11.98
 45 TOTEN  -391.78955  Lg|dE| -4.3  SCF   4  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 10.50
 46 TOTEN  -391.78962  Lg|dE| -4.1  SCF   6  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 14.65
 47 TOTEN  -391.78950  Lg|dE| -3.9  SCF   6  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 14.82
 48 TOTEN  -391.78979  Lg|dE| -3.5  SCF   8  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 17.17
 49 TOTEN  -391.78984  Lg|dE| -4.3  SCF   6  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 13.45
 50 TOTEN  -391.78986  Lg|dE| -4.6  SCF   6  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 14.43
 51 TOTEN  -391.79000  Lg|dE| -3.9  SCF  16  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 25.36
 52 TOTEN  -391.79003  Lg|dE| -4.7  SCF   3  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time  9.08
 53 TOTEN  -391.78996  Lg|dE| -4.2  SCF   6  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 13.70
 54 TOTEN  -391.78988  Lg|dE| -4.1  SCF   3  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time  9.60
 55 TOTEN  -391.79004  Lg|dE| -3.8  SCF  11  Max|F|  1.734  Avg|F|  0.869  AtomInd   2Mnx  Time 18.75
perfoming test6 ...
  1 TOTEN -1059.00023  Lg|dE|  3.0  SCF  36  Max|F|  2.574  Avg|F|  0.618  AtomInd  81Tix  Time 34.90
  2 TOTEN -1059.19819  Lg|dE| -0.7  SCF   7  Max|F|  2.466  Avg|F|  0.596  AtomInd  81Tix  Time  8.16
  3 TOTEN -1059.74200  Lg|dE| -0.3  SCF  17  Max|F|  2.129  Avg|F|  0.528  AtomInd  81Tix  Time 15.43
  4 TOTEN -1060.58692  Lg|dE| -0.1  SCF  18  Max|F|  1.393  Avg|F|  0.384  AtomInd  81Tix  Time 16.46
  5 TOTEN -1061.15302  Lg|dE| -0.2  SCF  19  Max|F|  0.899  Avg|F|  0.316  AtomInd   3 Ox  Time 17.49
  6 TOTEN -1061.17380  Lg|dE| -1.7  SCF  10  Max|F|  0.848  Avg|F|  0.280  AtomInd 109Baz  Time 10.92
  7 TOTEN -1061.33205  Lg|dE| -0.8  SCF   8  Max|F|  0.744  Avg|F|  0.248  AtomInd 109Baz  Time  9.00
  8 TOTEN -1061.68414  Lg|dE| -0.5  SCF  17  Max|F|  0.454  Avg|F|  0.165  AtomInd 109Baz  Time 15.64
  9 TOTEN -1061.82933  Lg|dE| -0.8  SCF  18  Max|F|  0.675  Avg|F|  0.199  AtomInd   3 Oz  Time 16.71
 10 TOTEN -1061.86519  Lg|dE| -1.4  SCF  17  Max|F|  0.426  Avg|F|  0.159  AtomInd  82Tix  Time 15.25
 11 TOTEN -1061.95340  Lg|dE| -1.1  SCF  16  Max|F|  0.236  Avg|F|  0.091  AtomInd   3 Oz  Time 14.99
 12 TOTEN -1061.98145  Lg|dE| -1.6  SCF  16  Max|F|  0.180  Avg|F|  0.079  AtomInd  81Tiy  Time 14.78
 13 TOTEN -1062.00439  Lg|dE| -1.6  SCF   7  Max|F|  0.087  Avg|F|  0.042  AtomInd  81Tiy  Time  8.14
 14 TOTEN -1062.01173  Lg|dE| -2.1  SCF   7  Max|F|  0.064  Avg|F|  0.031  AtomInd   0 Ox  Time  8.10
 15 TOTEN -1062.01189  Lg|dE| -3.8  SCF   6  Max|F|  0.067  Avg|F|  0.032  AtomInd   0 Ox  Time  6.52
 16 TOTEN -1062.01595  Lg|dE| -2.4  SCF   6  Max|F|  0.040  Avg|F|  0.018  AtomInd   1 Oy  Time  7.10
 17 TOTEN -1062.01696  Lg|dE| -3.0  SCF   6  Max|F|  0.040  Avg|F|  0.020  AtomInd   1 Oy  Time  7.14
perfoming test7 ...
  1 TOTEN   -19.26551  Lg|dE|  1.3  SCF  23  Max|F|  0.547  Avg|F|  0.438  AtomInd   0 Hz  Time  0.03
  2 TOTEN   -19.25520  Lg|dE| -2.0  SCF  13  Max|F|  1.088  Avg|F|  0.688  AtomInd   0 Hz  Time  0.02
  3 TOTEN   -19.26817  Lg|dE| -1.9  SCF  13  Max|F|  0.546  Avg|F|  0.433  AtomInd   2 Hx  Time  0.02
  4 TOTEN   -19.25888  Lg|dE| -2.0  SCF  13  Max|F|  0.879  Avg|F|  0.597  AtomInd   0 Hz  Time  0.02
  5 TOTEN   -19.26872  Lg|dE| -2.0  SCF  13  Max|F|  0.558  Avg|F|  0.390  AtomInd   2 Hx  Time  0.02
  6 TOTEN   -19.26552  Lg|dE| -2.5  SCF  13  Max|F|  0.552  Avg|F|  0.440  AtomInd   0 Hz  Time  0.02
  7 TOTEN   -19.26552  Lg|dE| -inf  SCF  12  Max|F|  0.552  Avg|F|  0.440  AtomInd   0 Hz  Time  0.02
  8 TOTEN   -19.26489  Lg|dE| -3.2  SCF  12  Max|F|  0.566  Avg|F|  0.448  AtomInd   2 Hx  Time  0.02
  9 TOTEN   -19.26489  Lg|dE| -inf  SCF  11  Max|F|  0.566  Avg|F|  0.448  AtomInd   0 Hz  Time  0.02
 10 TOTEN   -19.26849  Lg|dE| -2.4  SCF  13  Max|F|  0.787  Avg|F|  0.509  AtomInd   3 Ny  Time  0.02
 11 TOTEN   -19.25272  Lg|dE| -1.8  SCF  13  Max|F|  1.159  Avg|F|  0.684  AtomInd   1 Hy  Time  0.02
 12 TOTEN   -19.26553  Lg|dE| -1.9  SCF  13  Max|F|  0.547  Avg|F|  0.438  AtomInd   0 Hz  Time  0.02
 13 TOTEN   -19.26553  Lg|dE| -inf  SCF  12  Max|F|  0.547  Avg|F|  0.438  AtomInd   0 Hz  Time  0.02
 14 TOTEN   -19.26817  Lg|dE| -2.6  SCF  13  Max|F|  0.546  Avg|F|  0.433  AtomInd   0 Hz  Time  0.02
 15 TOTEN   -19.25520  Lg|dE| -1.9  SCF  13  Max|F|  1.088  Avg|F|  0.688  AtomInd   2 Hx  Time  0.02
 16 TOTEN   -19.25888  Lg|dE| -2.4  SCF  13  Max|F|  0.879  Avg|F|  0.597  AtomInd   2 Hx  Time  0.02
 17 TOTEN   -19.26872  Lg|dE| -2.0  SCF  13  Max|F|  0.558  Avg|F|  0.390  AtomInd   0 Hz  Time  0.02
 18 TOTEN   -19.26552  Lg|dE| -2.5  SCF  13  Max|F|  0.552  Avg|F|  0.440  AtomInd   2 Hx  Time  0.02
 19 TOTEN   -19.26552  Lg|dE| -8.0  SCF  12  Max|F|  0.552  Avg|F|  0.440  AtomInd   2 Hx  Time  0.02
 20 TOTEN   -19.25734  Lg|dE| -2.1  SCF  13  Max|F|  1.093  Avg|F|  0.705  AtomInd   3 Ny  Time  0.02
 21 TOTEN   -19.25734  Lg|dE| -inf  SCF  12  Max|F|  1.093  Avg|F|  0.705  AtomInd   3 Nx  Time  0.02
 22 TOTEN   -19.25919  Lg|dE| -2.7  SCF  13  Max|F|  1.139  Avg|F|  0.632  AtomInd   1 Hy  Time  0.02
 23 TOTEN   -19.25525  Lg|dE| -2.4  SCF  13  Max|F|  1.259  Avg|F|  0.784  AtomInd   3 Ny  Time  0.02
 24 TOTEN   -19.26601  Lg|dE| -2.0  SCF  14  Max|F|  0.552  Avg|F|  0.445  AtomInd   0 Hz  Time  0.02
 25 TOTEN   -19.26601  Lg|dE| -8.0  SCF  13  Max|F|  0.552  Avg|F|  0.445  AtomInd   0 Hz  Time  0.02
```
